:root {
	/* Primary */
	--dark-blue: hsl(233, 26%, 24%);
	--lime-green: hsl(136, 65%, 51%);
	--bright-cyan: hsl(192, 70%, 51%);

	/* Neutral */
	--grayish-blue: hsl(233, 8%, 62%);
	--light-grayish-blue: hsl(220, 16%, 96%);
	--very-light-gray: hsl(0, 0%, 98%);
	--white: hsl(0, 0%, 100%);

	/* Others */
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header {
	box-sizing: content-box;
	max-height: 21px;
	padding: 22px 24px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav {
	display: none;
}

nav.active {
	background-color: white;
	position: fixed;
	top: 5rem;
	left: 50%;
	display: initial;
	z-index: 99;
	transform: translateX(-50%);
	width: 90%;
	border-radius: 3px;
}

ul {
	text-align: center;
	list-style: none;
}

li {
	margin: 1rem 0;
}

#menu-btn {
	background-color: transparent;
	width: 32px;
	height: 32px;
	background-image: url("images/icon-hamburger.svg");
	background-repeat: no-repeat;
	background-position: center;
	border: none;
	cursor: pointer;
}

.invite-btn {
	display: none;
}
